.skills-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: 500px;
    margin: 1rem;
}

.skill-grid {
    display: flex;
    flex-wrap: wrap;
    gap: .2rem;
    justify-content: center;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background-color: rgba(248, 208, 111, .5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.skill-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
}

.skill-icon img {
    width: 50px;
    height: 50px;
}