.chip {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border-radius: 1rem;
    background-color: rgb(100, 100, 100);
    color: var(--background);
    font-size: .8rem;
    font-weight: 500;
    text-transform: uppercase;
}